:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: Raleway;
  --accent-font: 'STIX Two Text';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #F3EFEC);
  color: var(--text-color, #312A4E);
  font-family: var(--main-font, Arial, sans-serif);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.heading {
  color: var(--text-color, #312A4E);
  text-align: center;
  font-family: STIX Two Text;
  font-style: normal;
  font-weight: 600;
  line-height: 90%;
}

.header {
  padding-top: 10vw;
}

.content-section {
  padding-left: 5vi;
  padding-right: 5vi;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
}

.content__title {
  font-size: 30px;
  margin-top: 7vw;
  margin-bottom: 2.5vw;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

a {
  color: inherit;
}

.content__blockquote {
  width: 75%;
  margin-bottom: 1.5em;
  font-family: Raleway;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 200%;
  margin-left: auto;
  margin-right: auto;
}

.content__list {
  list-style-type: none;
  padding-inline-start: 40px;
}

.content__list li {
  position: relative;

}

.content__list li::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../images/marker-light.svg);
  position: absolute;
  top: 2px;
  left: -24px;
}

.content__list li:not(:last-child) {
  margin-bottom: 10px;
}

.content__text-block_type_first-lettered .content__paragraph:first-child:first-letter {
  background-color: var(--accent-color);
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 1px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}